.start-practice{
  margin-left: 80%;
}

.question{
  padding-top: 35px;
}

.question .alternatives{
  padding: 10px;
}

.action-buttons{
  padding-top: 35px;
}

.action-buttons .finish-button{
    margin-right: 350px;
}

.correct_answer{
  border-radius: 10px;
  border: 2px solid #4cae4c;
  padding: 3px;
}
