<div ng-init="init()">
  <div class="row">
    <h1>Concursos</h1>
  </div>
  &nbsp;

		<br />
	  <div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<th class="col-md-1"> </th>
          <th class="col-md-5">Nome</th>
          <th class="col-md-4">Instituição</th>
  				<th class="col-md-1">Ano</th>
          <th class="col-md-1">Semestre</th>
				</thead>
				<tbody>
					<tr ng-repeat="examination in examinations | orderBy: 'ano' | filter:filterText">
						<td> <a href="#/concurso/detalhe/{{examination.id}}"><i class="glyphicon glyphicon-zoom-in"></a></i></td>
            <td ng-model="examination.nome">{{examination.nome}}</td>
            <td ng-model="examination.instituicao.sigla"><a href="#/instituicao/detalhe/{{examination.instituicao.id}}">{{examination.instituicao.sigla}}</a></td>
            <td ng-model="examination.ano">{{examination.ano}}</td>
						<td ng-model="examination.semestre" align="center">{{examination.semestre}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
