<div ng-init="init()">
	<div class="row">
		<h1>Instituições</h1>
		<button ng-if="!mostraInstituicoes" class="pull-right btn btn-success" ng-click="formCriaInstituicao()">Todas Instituições</button>
		<button ng-if="mostraInstituicoes" class="pull-right btn btn-success" ng-click="formCriaInstituicao()">Nova Instituição</button>
	</div>
	&nbsp;
	<div ng-if="!mostraInstituicoes" class="animate-if row">
		<form class="form-group row">
			<div class="form-inline">
				<label for="nome-instituicao">Nome: &nbsp;</label>
				<input type="text" name="nome-instituicao" class="form-control"></input>
			</div>
			<div class="form-inline">
				<label for="sigla-instituicao">Sigla: &nbsp;</label>
				<input type="text" name="sigla-instituicao" class="form-control"></input>
			</div>
			
			<div class="form-inline">
				<label for="site-instituicao">Site: &nbsp;</label>
				<input type="text" name="sigla-instituicao" class="form-control"></input>
			</div>
			<div class="form-inline">
				<label for="tipo-instituicao">Tipo: &nbsp;</label>
				<select name="tipo-instituicao" class="form-control">
					<option value="Público">Público</option>
					<option value="Privado">Privado</option>
				</select>
			</div>
			<button class="pull-right btn btn-success">Criar</button>
		</form>		
	</div>
	<div ng-if="mostraInstituicoes" class="animate-if row">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>Sigla</th>
					<th>Nome</th>
					<th>Site</th>
					<th>Tipo</th>
				</thead>
				<tbody>
					<tr ng-repeat="instituicao in instituicoes | orderBy: 'sigla'">
						<td ng-model="instituicao.sigla">{{instituicao.sigla}}</td>
						<td ng-model="instituicao.nome">{{instituicao.nome}}</td>
						<td ng-model="instituicao.site"><a href="{{instituicao.site}}">{{instituicao.site}}</a></td>
						<td ng-if="instituicao.privado" ng-model="instituicao.privado">Privado</td>
						<td ng-if="!instituicao.privado" ng-model="instituicao.privado">Público</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>