<div ng-init="init()">
	<div class="row">
		<h1>Instituições</h1>
		<button class="pull-right btn btn-success" ng-click="createEditInstitutionModal()">Nova Instituição</button>
	</div>
	&nbsp;

	<div ng-if="showInstitutions" class="animate-if row">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th class="col-md-1">Sigla</th>
					<th class="col-md-4">Nome</th>
					<th class="col-md-2">Site</th>
					<th class="col-2d-2">Tipo</th>
					<th class="col-md-3"> </th>
				</thead>
				<tbody>
					<tr ng-repeat="instituicao in institutions | orderBy: 'sigla'">
						<td ng-model="instituicao.sigla">{{instituicao.sigla}}</td>
						<td ng-model="instituicao.nome">{{instituicao.nome}}</td>
						<td ng-model="instituicao.site"><a href="{{instituicao.site}}">{{instituicao.site}}</a></td>
						<td ng-if="instituicao.privado" ng-model="instituicao.privado">Privado</td>
						<td ng-if="!instituicao.privado" ng-model="instituicao.privado">Público</td>
						<td class="table-button">
								<button class="btn btn-primary" ng-click="createEditInstitutionModal(instituicao)">Editar</button>
								<button class="btn btn-danger" ng-click="openConfirmationModal(instituicao)"> Excluir</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
