<div ng-init="init()">
	<div class="row">
		<h1>Instituições</h1>
		<button ng-if="!showInstitutions" class="pull-right btn btn-success" ng-click="showNewInstitutionForm()">Todas Instituições</button>
		<button ng-if="showInstitutions" class="pull-right btn btn-success" ng-click="showNewInstitutionForm()">Nova Instituição</button>
	</div>
	&nbsp;
	<!-- CREATE OR EDIT  -->
	<div ng-if="!showInstitutions" class="animate-if row">
		<form class="form-group row">
			<div class="col-lg-12 form-inline">
				<label class="col-lg-2 text-right" for="sigla-institution">Sigla: &nbsp;</label>
				<input type="text" ng-model="institution.sigla" name="sigla-institution" class="form-control"></input>
			</div>

			<div class="col-lg-12 form-inline">
				<label class="col-lg-2 text-right" for="nome-institution">Nome: &nbsp;</label>
				<input type="text" ng-model="institution.nome" name="nome-institution" class="form-control"></input>
			</div>

			<div class="col-lg-12 form-inline">
				<label class="col-lg-2 text-right" for="site-institution">Site: &nbsp;</label>
				<input type="text" ng-model="institution.site" name="sigla-institution" class="form-control"></input>
			</div>
			<div class="col-lg-12 form-inline">
				<label class="col-lg-2 text-right" for="tipo-institution">Tipo: &nbsp;</label>
				<select ng-model="institution.privado" name="tipo-institution" class="form-control">
					<option value="false" ng-selected="!institution.privado">Público</option>
					<option value="true" ng-selected="institution.privado">Privado</option>
				</select>
			</div>
			<button ng-if="!editForm" class="pull-right btn btn-success" ng-click="createNewInstitution()">Criar</button>
			<button ng-if="editForm" class="pull-right btn btn-success" ng-click="editInstitution()">Salvar</button>
		</form>
	</div>
	<!-- END CREATE OR EDIT  -->
	<div ng-if="showInstitutions" class="animate-if row">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th class="col-md-1">Sigla</th>
					<th class="col-md-4">Nome</th>
					<th class="col-md-2">Site</th>
					<th class="col-2d-2">Tipo</th>
					<th class="col-md-3"> </th>
				</thead>
				<tbody>
					<tr ng-repeat="instituicao in institutions | orderBy: 'sigla'">
						<td ng-model="instituicao.sigla">{{instituicao.sigla}}</td>
						<td ng-model="instituicao.nome">{{instituicao.nome}}</td>
						<td ng-model="instituicao.site"><a href="{{instituicao.site}}">{{instituicao.site}}</a></td>
						<td ng-if="instituicao.privado" ng-model="instituicao.privado">Privado</td>
						<td ng-if="!instituicao.privado" ng-model="instituicao.privado">Público</td>
						<td class="table-button">
								<button class="btn btn-primary" ng-click="editInstitutionForm(instituicao)">Editar</button>
								<button class="btn btn-danger" ng-click="deleteInstitution(instituicao)"> Excluir</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
