<div class="modal-header">
  <h3 class="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body">
  <form class="form-group row">
    <div class="col-lg-12 form-inline">
      <label class="col-lg-2 text-right" for="descricao-question">Descrição: &nbsp;</label>
      <textarea type="text" ng-model="question.descricao" name="descricao-question" class="form-control"></textarea>
    </div>

    <div class="col-lg-12 form-inline">
      <label class="text-right" for="area_conhecimento-question">Área Conhecimento: &nbsp;</label>
      {{ subjectList }}
      <select ng-model="question.id_area_conhecimento" name="area_conhecimento-question" class="form-control">
        <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.nome}}</option>
      </select>
      {{question}}
    </div>
    <hr>
  </form>
</div>
<div class="modal-footer">
  <div class="modal-buttons-footer">
    <button ng-if="!editForm" class="pull-right btn btn-success" ng-click="createNewQuestion()">Criar</button>
    <!-- <button ng-if="editForm" class="pull-right btn btn-success" ng-click="editInstitution()">Salvar</button> -->
    <button class="btn btn-danger" ng-click="closeModal()">Fechar</button>
  </div>
</div>
